<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hostel Management System</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <h2>Warden List</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
        <table class="table table-striped" id="mytable">
            <thead>
                <tr>
                    <th>Staff ID</th>
                    <th>Staff Name</th>
                    <th>gender</th>
                    <th>Date of Birth</th>
                    <th>Email-id</th>
                    <th>Staff Role</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{ staff_id }}</td>
                    <td>{{ staff_name }}</td>
                    <td>{{ gender }}</td>
                    <td>{{ dob }}</td>
                    <td>{{ email_id }}</td>
                    <td>{{ staff_role }}</td>
                    <td>{{ salary }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-staff_id="{{ staff_id }}"
                            data-staff_name="{{ staff_name }}" data-gender="{{ gender }}" data-dob="{{ dob }}" data-email_id="{{ email_id }}" data-staff_role="{{ staff_role }}" data-salary="{{ salary }}">Edit</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete"
                            data-staff_id="{{ staff_id }}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Add New Product Modal-->
    <form action="/saveStaff" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Warden</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="staff_id" class="form-control" placeholder="Staff id" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="staff_name" class="form-control" placeholder="Staff Name" required>
                        </div>
                        <div class="form-group">
                            <p>Gender</p>
                            <input type="radio" name="gender" value="M" >
                            <label for="M">Male</label><br>
                            <input type="radio" name="gender" value="F" >
                            <label for="F">Female</label><br>
                        </div>
                        <div class="form-group">
                            <p>Date of Birth</p>
                            <input type="date" name="dob" class="form-control dob" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email_id" class="form-control" placeholder="Email Id" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="staff_role" class="form-control" placeholder="Role " required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="salary" class="form-control" placeholder="Salary" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Edit Product Modal-->
    <form action="/updateStaff" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Staff</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="staff_id" class="form-control staff_id" placeholder="Staff id" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="staff_name" class="form-control staff_name" placeholder="Staff Name" required>
                        </div>
                        <div class="form-group">
                            <p>Gender</p>
                            <input type="radio" name="gender" value="M" >
                            <label for="M">Male</label><br>
                            <input type="radio" name="gender" value="F" >
                            <label for="F">Female</label><br>
                        </div>
                        <div class="form-group">
                            <p>Date of Birth</p>
                            <input type="date" name="dob" class="form-control dob" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email_id" class="form-control email_id" placeholder="Email Id" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="staff_role" class="form-control staff_role" placeholder="Role " required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="salary" class="form-control salary" placeholder="Salary" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="product_id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Delete Product Modal-->
    <form id="add-row-form" action="/deleteStaff" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Staff</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body"> 
                        <strong>Are You Sure To Delete This Data?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="staff_id" class="form-control staff_id" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            //showing data to modal for edit record
            $('#mytable').on('click', '.edit', function () {
                var staff_id = $(this).data('staff_id');
                var staff_name = $(this).data('staff_name');
                var gender = $(this).data('gender');
                var dob = $(this).data('dob');
                var email_id = $(this).data('email_id');
                var staff_role = $(this).data('staff_role');
                var salary = $(this).data('salary');
                $('#EditModal').modal('show');
                $('.staff_id').val(staff_id);
                $('.staff_name').val(staff_name);
                $('.gender').val(gender);
                $('.dob').val(dob);
                $('.email_id').val(email_id);
                $('.staff_role').val(staff_role);
                $('.salary').val(salary);
            });
            //showing modal for delete record
            $('#mytable').on('click', '.delete', function () {
                var staff_id = $(this).data('staff_id');
                $('#DeleteModal').modal('show');
                $('.staff_id').val(staff_id);
            });

        });
    </script>
</body>

</html>